<div class="container">
    <section class="error-body">
        <header>
                <h1>Look at this!</h1>
        </header>
        <article>
            <table>
                {% for process in data %}
                        <th>
                            <td colspan="2">{{process["name"]}}</td>
                        </th>
                    {% for proc in process %}
                        {% if proc != "name" %}
                        <tr>
                            <td>{{proc}}</td>
                            <td>{{process[proc]}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        </article>
    </section>
</div>
