/* Global */
html {
    position: relative;
    min-height: 100%;
}

body {
  min-height: 100%;
}

/*body {
    background-color: #003865;
}*/

/* error pages */
.error-body {
    text-align: center;
    min-height: 100%;
}

/* footer */
.footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
