/* Global */
html {
    position: relative;
    min-height: 100%;
}

body {
  min-height: 100%;
}

/*body {
    background-color: #003865;
}*/

.main-container {
  min-height: 100%;
}

#nav_bar_appear_button{
    display:none;
}

#nav_bar_appear_button:hover{
    cursor:pointer;
}

#nav_bar_appear_button button .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
    background-color: #FFF;
}

/* error pages */
.error-body {
    text-align: center;
    min-height: 100%;
}

/* footer */
.footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

