/*body {
    background-color: #003865;
}*/

/* footer */
.footer {
  padding-top: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*padding-top: 20px;*/
}
